/*
!.gitignore
!.config/
.config/*
!.config/spotify/
.config/spotify/*
!.config/spotify/prefs
!.config/Slack/
.config/Slack/*
!.config/Slack/Preferences
!.config/Code/
.config/Code/*
!.config/Code/Preferences
!.config/i3/
!.config/totem/
!.config/sxhkd/i
!.config/neofetch/
!.config/htop/
