Xft.dpi:                    130
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.loginShell:           true
URxvt.internalBorder:       3
URxvt.lineSpace:            0

URxvt*transparent: true

!for true transparency, tiny color must be commented
!URxvt*tintColor: #5D5371

!shading - 0 to 99 darkens, 101 to 200 lightens.
URxvt*shading: 60

URxvt*saveLines: 12000

URxvt*foreground: #657b83
URxvt*background: #002b36

!URxvt*fading: 40
!URxvt*fadeColor: #110f1f

URxvt*font: xft:DejaVu Sans Mono:pixelsize=24, xft:Droid Sans Mono for Powerline:pixelsize=24
URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=24, xft:Droid Sans Mono for Powerline:bold:pixelsize=24
!URxvt*letterSpace: 0

URxvt*scrollBar: false

URxvt*scrollBar_right: false

!scrollbar style - rxvt (default), plain, next, or xterm
URxvt*scrollstyle: plain
